* {
  margin: 0;
  font-size: 15px;
  list-style: none;

  text-decoration: none;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: beige;
  font-size: 22px;
}
/*div q contiene ala barra de navegacion*/
.contenedor{
  max-width: 2000px;
  margin:0 auto;
  background-color: #9c522e;
  height: 80px;
}
/*div q contiene a los componentes de la barra de navegacion*/

.barra{
  display: flex;/*solo afecta al hijo directo*/
  justify-content: flex-end;
  padding-top: 15px;

}
/*div q contiene alos elementos del nav*/
.navegacion a{
  color:white;
  font-size: 18px;
  margin-right: 20px;
}
/*el input y el check*/
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
/*contenedores de informacion*/

div.container-datosPersonales{
  display: flex;
  float: left;
  width: 48%;
  height: 300px;
  padding: 2px;
  /*border: 1px solid black;*/

}
div.container-datosFormacion{
  display: flex;
  float: right;
  width: 48%;
  height: 300px;
  padding: 2px;
  
  margin: 2px;
  /*border: 1px solid black;*/
  
}
div.container-datosTrabajo{
  display: inline-block;
  width:100%;
  

  padding: 2px;
  
  
  margin:0 auto;
  /*border: 1px solid black;*/
  

}
/*titulos de informacion*/
.cv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

li#titulo1, li#titulo2{
  align-items: center;
  justify-content: center;
  margin-left: 25%;
}
li#experiencia{
  justify-content: center;
  align-items: center;
  margin: 0 30%;
 
}
/*haciendo responsive nuestro cv*/

.navegacion a:hover{
  color:red ;
  
}


@media (max-width: 768px) {
  .checkbtn {
      display: block;
  }
  div.container-datosPersonales{
      display: block;
  
  }
  
  div.container-datosFormacion{
      display: block;
      
      
  }
  div.container-datosTrabajo{
      display: block;}
  .navegacion{
      position:fixed;
      width: 100%;
      height: 100vh;
      background: black;
      top:80px;
      left:-100%;
      text-align: center;
      transition: all .5s;
      
  }
  .navegacion a{
      display: block;
      padding: 30px;
      font-size: 30px;
  }
  #check:checked ~ .navegacion{
      left:0;
  }

}

/*modificamos la imagen*/
img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
div#retrato{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

