*{
  margin: 0;
  font-size: 22px;
}
body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:rgb(128, 128, 238) ;
  font-size: 22px;
  
  min-width: 400px;
  max-width: 1200px;
}
div.barra{
  background: #2fcdcd;
  height: 80px;
  width: 100%;

}

img{
  
  width: 200px;
  height: 200px;
  border-radius: 100%;
  
  
}

div#retrato{
  background-color: blueviolet;
  width: 200px;
  height: 200px;
  border-radius: 100%;

  margin: 0 auto;
 
  align-items: center;
  
  justify-content: center;
  
  

}
.cv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
div.container-datosPersonales{
  display: flex;
  float: left;
  width: 48%;
  height: 630px;
  padding: 2px;
 
 
  
  
  
}

li#titulo1, li#titulo2{
  align-items: center;
  justify-content: center;
  margin-left: 25%;
}





div.container-datosFormacion{
  display: flex;
  float: right;
  width: 48%;
  height: 630px;
  padding: 2px;
  
  margin: 2px;
  

}
div.container-datosTrabajo{
  display: inline-block;
  width:100%;
  

  padding: 2px;
  
  
  margin:0 auto;
  

}



li#experiencia{
  justify-content: center;
  align-items: center;
  margin: 0 30%;
 
}




.boton{
  align-items: center;
  text-align: center;


}


*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/*contiene al nav entero*/
nav{
  
  background: #2fcdcd;
  height: 80px;
  width: 100%;
}

.enlace{
  position: absolute;
  padding: 20px 50px;
}
.logo{
  height: 40px;
}
/*indica como tienen q estar ubicados las listas*/
nav ul{
  float: right;
  margin-right: 20px;
}
/*indica como deben estar ubicados los item de las listas*/
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
/*elementos q contiene los item li de las listas ul*/
nav ul li a{
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
li a:hover{
  background: #000090;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
section{
  background: url(fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}

@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  li a:hover, li a.active{
      background: none;
      color: red;
  }
  #check:checked ~ ul{
      left:0;
  }
}































/*

@media (max-width: 768px){
  *{
    margin:0;
  }
  body{
    background-color: green;
    color:white;
  }
/*barra de navegacion*/
/*
  .barra{
    background: black ;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  
  }
  .nav-busqueda{
    text-align: center;
    padding: 10px;
  }
  nav.nav-busqueda a {
   
    color: red;
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
  
    padding: 10px;
    
    
  
    
    
  
  }
  */



/*
  div.container-datosPersonales{
    display: block;
    width: 100%;

    padding: 2px;
    
    
    
    
  }
  img{
    width: 200px;
    height: 200px;
    border-radius: 100;
    
  }
  div#retrato{
    position:relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
    
    border-radius: 100;
    
    margin: 0 auto;
    
    align-items: center;
    justify-content: center;
    
    
    }






  
  }
  div.container-datosFormacion{
    display: block;
    width: 100%;

    padding: 2px;
    
    
    
  
  }
  div.container-datosTrabajo{
    display: block;
    width: 100%;

    padding: 2px;
   
    
    
  
  }
  li.titulo{
    align-items: center;
    justify-content: center;
    margin-left: 25%;
  }
  li.experiencia{
    justify-content: center;
    align-items: center;
    margin: 25%;
   
  }





































